* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.render{
    height: 100vh;
}

.render-box{
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 100%;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 20%;
}

.bottom{
    margin: 30px;
    height: auto;
}


#search {
  width: 550px;
  padding: 15px;
  border-radius: 9px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#search:focus {
  outline: 1px solid #30e3df;
}

img{
  margin: 10px;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}