* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.render {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.render-box {
  width: 1500px;
  height: 850px;
  margin: 40px;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.top {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
    padding-top: 10px;
  height: auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B2B2B2;
}

#search {
  width: 550px;
  padding: 15px;
  border-radius: 9px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#search:focus {
  outline: 1px solid #30e3df;
}
